# KiCad generated/local files
*.kicad_prl
*.kicad_pro-bak
fp-info-cache
*-backups/
_autosave-*
*.lck

# Build/manufacturing exports
*.gbr
*.gbrjob
*.drl

# OS/editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
